#addForm{
    margin: 10% 30% 5%;
    box-shadow:1px 1px 5px;
    background-color: #ecfbff;
    padding: 20px 40px 40px;
}
.normalForm{
    margin: 7% 5% 2%;
}
table{
    margin-top: 0%;
}
.fa-trash, .fa-times-circle-o{
    color: red;
}
.cancel button{
    color: #fff;
    background-color: #e06565;
}
#payments{
    margin: 8% 30% 5%;
}
#paypal{
    background-color: gold;
}
#mpesa{
    margin-top: 5px;
    background-color: #136207;
}
#mpesa:hover{
    color: #fff;
}
#payWith{
    color: #000;
}
#Pay{
    color: darkblue;
}
#Pal{
    color: royalblue;
}
.successPay{
    margin-top: 10%;
}
.fa-circle-check{
    font-size: 200px;
    color: #088264;;
    padding: 10px;
}
.fa-times-circle-o{
    font-size: 200px;
    padding: 10px;
    color:  #fb5656;
}
.btns{
    margin-top: 20px;
}
td p{
    padding-bottom: 0.5px;
    padding-top: 0.2px;
    margin: 0.1px;
}
#teachingSubjects{
    margin: 0% 10% 2%;
}
div button{
    border-radius: 25px;
}
#forgot-password:hover, .footer_links ul li a:hover, #haveAccount:hover{
    color:rgb(230, 100, 100);
    cursor: pointer;
}
a#haveAccount, a#forgot-password{
    text-decoration: none;
}
.green-color{
    color: #088264;
}
button:hover{
    background-color: transparent;
    color: rgb(230, 100, 100);
    border: solid 2px #000;
}