@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input{
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    width: 100%;
}

.container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(45deg, #088264, #006149);
    top: 0%;
    right: 48%;
    transform: translateY(-50%);
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, 2%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #e7f3ef;
    margin: 8px 0;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #088264;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.btn:hover{
    background-color: #006149;
}

.panels-container{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
}

.right-panel{
    padding: 5rem 17% 2rem 12%;
}

.panel .content{
    color: #fff;
}

.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.image{
    width: 70%;
}

.alert-danger{
    max-width: 380px;
    width: 100%;
    background-color: #f8d7da;
    padding: 1rem 2rem;
    border-radius: 50px;
    color: #b02a37;
    border: solid 0.5px #f1aeb5;
    margin: 1rem 0 0;
}

.alert-info{
    max-width: 380px;
    width: 100%;
    background-color: #cff4fc;
    padding: 1rem 2rem;
    border-radius: 50px;
    color: #087990;
    border: solid 0.5px #9eeaf9;
    margin: 1rem 0 0;
}

.alert-warning{
    max-width: 380px;
    width: 100%;
    background-color: #fff3cd;
    padding: 1rem 2rem;
    border-radius: 50px;
    color: #997404;
    border: solid 0.5px #ffe69c;
    margin: 1rem 0 0;
}

.text-center{
    text-align: center;
}

.radio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-items{
    margin: 1rem;
}

@media (max-width: 870px) {
    .container{
        min-height: 800px;
    }

    .container:before{
        width: 1000px;
        height: 1000px;
        left: 0%;
        bottom: 60%;
        transform: translateX(-20%);
        right: initial;
        top: initial;
        overflow-x: hidden;
    }

    .signin-signup{
        width: 100%;
        left: 60%;
        top: 30%;
        transform: translate(-50%, 10%);
    }

    .panels-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .right-panel .content{
        width: 100%;
    }

    .right-panel{
        padding: 2rem 17% 2rem 12%;
    }    

    .image{
        width: 200px;
    } 

    .panel h3{
        font-size: 1.2rem;
    }

    .panel p{
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn.transparent{
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
}

@media (max-width: 635px) {
    .container:before{
        left: 0%;
        bottom: 75%;
        transform: translateX(-20%);
        right: initial;
        top: initial;
        overflow-x: hidden;
    }

    .signin-signup{
        width: 100%;
        left: 70%;
        top: 30%;
        transform: translate(-50%, 0%);
    }

    .right-panel{
        padding: 1rem 2rem 5%;
    }

    .image{
        display: none;
    }
}

@media (max-width: 635px) {
    .container:before{
        left: 0%;
        bottom: 80%;
        transform: translateX(-30%);
        right: initial;
        top: initial;
        overflow-x: hidden;
    }

    .signin-signup{
        width: 100%;
        left: 50%;
        top: 30%;
        transform: translate(-50%, 0%);
    }

    .image{
        display: none;
    }

}
